# **Notebook for analysing our and enemy games**

In [1]:
from src import *

# **Example 0:  download data for our games with fixed submission id**


Algorithm has 3 steps:
1. Get info with played episodes, teams info and teams submissions using curl request.
2. Parse data and save information to files. If information is already exists script will add only new data to existing files.
3. The base data is ready, than we download replays (curl request) for new games and create extended dataframe with different params for furute analysing.

You can separate submissions  data in different files using param `player_name` . If param is default all requests will be concantenated and written to 1 file.

In [2]:
cookie = ''

In [51]:
# run this ceil if you don't have automated data updating
# first run can take about 10 - 15 minutes
submission_ids = [42855126, 42855464]
player_name = 'my'

new_episodes = []
for submission_id in submission_ids:
    episodes = request_episodes_list(submission_id)
    update_teams(episodes, player_name)
    new_episodes = list(update_episodes_list(episodes, submission_id, player_name) + new_episodes)
print(new_episodes)

[]

In [52]:
%run -i src.py
update_episodes_extended(new_episodes, player_name, cookie)

episodes for retry:  []

In [47]:
# df with information about known players submissions, file teams_{}.csv
player_name = 'my'
teams = get_teams(player_name)
#teams[(teams['team_name'] == 'Frog Parade') | (teams['team_name'] == 'aDg4b')]
teams[:2]

     team_name  submission_id           submission_date   team_id
0  A.Ishibashi       41939313  2024-12-19T03:53:36.210Z  13082131
1  A.Ishibashi       41939312  2024-12-19T03:53:29.810Z  13082131

In [34]:
# df with short information about played episodes,  file episodes_list_{}.csv
player_name = 'my'
episodes_list = get_episodes_list(player_name)
episodes_list[:2]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id
0,67844567,42855126,Flat Neurons,4,1,0,42855126,Flat Neurons,0,1
1,67846778,41745640,Gitanshu Vaghasiya,0,5,1,42855126,Flat Neurons,0,1

In [18]:
# df with full information about episodes, file episodes_extended_{}.csv
player_name = 'my'
episodes_extended = get_episodes_extended(player_name)
episodes_extended[:2]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id,...,nebula_tile_drift_speed,nebula_tile_energy_reduction,nebula_tile_vision_reduction,unit_energy_void_factor,unit_move_cost,unit_sap_cost,unit_sap_dropoff_factor,unit_sap_range,unit_sensor_range,is_strong
0,67844567,42855126,Flat Neurons,4,1,0,42855126,Flat Neurons,0,1,...,-0.050,2,4,0.125,4,46,0.5,4,1,0.0
1,67846778,41745640,Gitanshu Vaghasiya,0,5,1,42855126,Flat Neurons,0,1,...,0.025,1,5,0.125,3,32,0.5,3,4,0.0

# **Example 1: analyse our games**

**winrate with frog games grouped_by enemy model**

In [35]:
player_name = 'my'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended
#df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade') | (episodes_extended['enemy_name'] == 'aDg4b')]
grouped = df.groupby(['enemy_name','enemy_submission_id', 'main_submission_id', 'is_strong'])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped

                                                                                sum  \
enemy_name                    enemy_submission_id main_submission_id is_strong
A.Ishibashi                   41939312            42855464           0.0          1
Flat Neurons                  42855126            42855126           0.0          0
                              42855464            42855464           0.0          1
GUOHAOYANG                    42651535            42855126           0.0          1
Gitanshu Vaghasiya            41745640            42855126           0.0          1
MonsterAgent                  42814989            42855126           0.0          1
Nicole                        42789445            42855464           0.0          1
SAND                          42855349            42855126           1.0          1
Stephen Murphy                41865510            42855464           0.0          1
Venkata Nageswararao Padavala 42831274            42855126           0.0          1
Xinlong Zhang                 42774122            42855126           0.0          1
primafyr                      42854803            42855126           0.0          1
yangfan peng                  42792948            42855126           0.0          1

                                                                                count  \
enemy_name                    enemy_submission_id main_submission_id is_strong
A.Ishibashi                   41939312            42855464           0.0            1
Flat Neurons                  42855126            42855126           0.0            1
                              42855464            42855464           0.0            1
GUOHAOYANG                    42651535            42855126           0.0            1
Gitanshu Vaghasiya            41745640            42855126           0.0            1
MonsterAgent                  42814989            42855126           0.0            1
Nicole                        42789445            42855464           0.0            1
SAND                          42855349            42855126           1.0            1
Stephen Murphy                41865510            42855464           0.0            1
Venkata Nageswararao Padavala 42831274            42855126           0.0            1
Xinlong Zhang                 42774122            42855126           0.0            1
primafyr                      42854803            42855126           0.0            1
yangfan peng                  42792948            42855126           0.0            1

                                                                                winrate
enemy_name                    enemy_submission_id main_submission_id is_strong
A.Ishibashi                   41939312            42855464           0.0          100.0
Flat Neurons                  42855126            42855126           0.0            0.0
                              42855464            42855464           0.0          100.0
GUOHAOYANG                    42651535            42855126           0.0          100.0
Gitanshu Vaghasiya            41745640            42855126           0.0          100.0
MonsterAgent                  42814989            42855126           0.0          100.0
Nicole                        42789445            42855464           0.0          100.0
SAND                          42855349            42855126           1.0          100.0
Stephen Murphy                41865510            42855464           0.0          100.0
Venkata Nageswararao Padavala 42831274            42855126           0.0          100.0
Xinlong Zhang                 42774122            42855126           0.0          100.0
primafyr                      42854803            42855126           0.0          100.0
yangfan peng                  42792948            42855126           0.0          100.0

**games against lyaguska with wins**

In [3]:
df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade') & (episodes_extended['main_win'] == 1)]
df

NameError: name 'episodes_extended' is not defined

**full winrate**

In [303]:
#df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade')]

my_a = 43320130
my_0 = 43317109

my_1 = 43294433
my_2 = 43293811
my_old_1 = 43231178
my_old_2 = 43231083

frog_1 = 43276830
frog_2 = 43277936

frog_old_1 = 43212846
frog_old_2 = 43212163

adbg_1 = 43225874
adbg_2 = 43248725

oneup_1 = 43183615

gregor_1 = 43281112
gregor_2 = 43298053


df = get_episodes_extended('my')
df = df[(df['main_submission_id']==my_a) |(df['main_submission_id']==my_0)]
grouped = df.groupby(['is_strong', 'main_submission_id', 'enemy_submission_id',  'enemy_name', ])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped[(grouped['count'] > 1) | (grouped['winrate'] < 100)]
grouped = grouped.sort_values(by=['is_strong', 'main_submission_id', 'count', 'enemy_name'], ascending=False)[0:60]
grouped

                                                               sum  count  \
is_strong main_submission_id enemy_submission_id enemy_name
1.0       43320130           43276830            Frog Parade     7      8
                             43248725            aDg4b           5      5
                             43225874            aDg4b           4      4
                             43289716            OneUpKiwi       4      4
                             43298054            Gregor Lied     2      2
                             43318759            Gregor Lied     2      2
                             43314974            EcoBangBang     2      2
                             43320130            Flat Neurons    0      1
          43317109           43276830            Frog Parade    14     15
                             43225874            aDg4b          10     10
                             43248725            aDg4b           9      9
                             43289716            OneUpKiwi       5      5
                             43277936            Frog Parade     4      4
                             43265883            YumeNeko        3      3
                             43298054            Gregor Lied     2      2
0.0       43320130           43276830            Frog Parade    34     36
                             43248725            aDg4b          15     15
                             43289716            OneUpKiwi      15     15
                             43265883            YumeNeko       11     11
                             43225874            aDg4b           9      9
                             43318759            Gregor Lied     9      9
                             43277936            Frog Parade     8      8
                             43243799            team-k          4      4
                             43314974            EcoBangBang     4      4
                             43227695            Vadasz          2      2
                             43298054            Gregor Lied     2      2
                             43322228            EcoBangBang     2      2
                             43299978            Boey            2      2
          43317109           43276830            Frog Parade    61     81
                             43248725            aDg4b          20     21
                             43277936            Frog Parade    19     20
                             43225874            aDg4b          16     17
                             43289716            OneUpKiwi      16     16
                             43265883            YumeNeko       12     12
                             43318759            Gregor Lied     9      9
                             43298054            Gregor Lied     7      7
                             43314974            EcoBangBang     5      5
                             43311009            EcoBangBang     4      4
                             43227695            Vadasz          2      2
                             43322188            EcoBangBang     2      2
                             43316592            3Comets         2      2

                                                                  winrate
is_strong main_submission_id enemy_submission_id enemy_name
1.0       43320130           43276830            Frog Parade    87.500000
                             43248725            aDg4b         100.000000
                             43225874            aDg4b         100.000000
                             43289716            OneUpKiwi     100.000000
                             43298054            Gregor Lied   100.000000
                             43318759            Gregor Lied   100.000000
                             43314974            EcoBangBang   100.000000
                             43320130            Flat Neurons    0.000000
          43317109           43276830            Frog Parade    93.333333
                             43225874            aDg4b         100.000000
                             43248725            aDg4b         100.000000
                             43289716            OneUpKiwi     100.000000
                             43277936            Frog Parade   100.000000
                             43265883            YumeNeko      100.000000
                             43298054            Gregor Lied   100.000000
0.0       43320130           43276830            Frog Parade    94.444444
                             43248725            aDg4b         100.000000
                             43289716            OneUpKiwi     100.000000
                             43265883            YumeNeko      100.000000
                             43225874            aDg4b         100.000000
                             43318759            Gregor Lied   100.000000
                             43277936            Frog Parade   100.000000
                             43243799            team-k        100.000000
                             43314974            EcoBangBang   100.000000
                             43227695            Vadasz        100.000000
                             43298054            Gregor Lied   100.000000
                             43322228            EcoBangBang   100.000000
                             43299978            Boey          100.000000
          43317109           43276830            Frog Parade    75.308642
                             43248725            aDg4b          95.238095
                             43277936            Frog Parade    95.000000
                             43225874            aDg4b          94.117647
                             43289716            OneUpKiwi     100.000000
                             43265883            YumeNeko      100.000000
                             43318759            Gregor Lied   100.000000
                             43298054            Gregor Lied   100.000000
                             43314974            EcoBangBang   100.000000
                             43311009            EcoBangBang   100.000000
                             43227695            Vadasz        100.000000
                             43322188            EcoBangBang   100.000000
                             43316592            3Comets       100.000000

**our strong games**

In [304]:
all_df = get_episodes_extended('my')

print("STRONG")
for my, my_name in [(my_a, 'my_a'), (my_0, 'my_0'), (my_1, 'my_1'), (my_2, 'my_2')]:
    for frog, frog_name in [(frog_1, 'frog_1'), (frog_2, 'frog_2'), (frog_old_1, 'frog_old_1'), (frog_old_2, 'frog_old_2'), 
                            (adbg_1, 'adbg1'), (adbg_2, 'adbg2'),
                              (oneup_1, 'oneup1'), (gregor_1, 'gregor_1'), (gregor_2, 'gregor_2')]:
        df = all_df[(all_df['is_strong'] == 1) & (all_df['main_submission_id'] == my) & (all_df['enemy_submission_id'] == frog)]
        my_win = df['main_reward'].sum()
        enemy_win = df['enemy_reward'].sum()
        sum_matches = my_win + enemy_win
        my_winrate = my_win / max(1, sum_matches) * 100
        enemy_winrate = enemy_win / max(1, sum_matches) * 100
        if sum_matches > 0:
            print(f'ENEMY Winrate Points {my_name:10} vs {frog_name:11}: {enemy_win:3} of {sum_matches:3} = {enemy_winrate:.1f}%')

STRONG
ENEMY Winrate Points my_a       vs frog_1     :   7 of  40 = 17.5%
ENEMY Winrate Points my_a       vs frog_2     :   2 of   5 = 40.0%
ENEMY Winrate Points my_a       vs adbg1      :   0 of  20 = 0.0%
ENEMY Winrate Points my_a       vs adbg2      :   1 of  25 = 4.0%
ENEMY Winrate Points my_0       vs frog_1     :   9 of  75 = 12.0%
ENEMY Winrate Points my_0       vs frog_2     :   0 of  20 = 0.0%
ENEMY Winrate Points my_0       vs adbg1      :   2 of  50 = 4.0%
ENEMY Winrate Points my_0       vs adbg2      :   1 of  45 = 2.2%
ENEMY Winrate Points my_1       vs frog_1     :  18 of 115 = 15.7%
ENEMY Winrate Points my_1       vs frog_2     :   3 of  75 = 4.0%
ENEMY Winrate Points my_1       vs adbg1      :   4 of  90 = 4.4%
ENEMY Winrate Points my_1       vs adbg2      :   8 of 115 = 7.0%
ENEMY Winrate Points my_1       vs oneup1     :   0 of  10 = 0.0%
ENEMY Winrate Points my_1       vs gregor_1   :   0 of   5 = 0.0%
ENEMY Winrate Points my_1       vs gregor_2   :   0 of  10 = 0.0%
ENEMY Winrate Points my_2       vs frog_1     :  10 of  55 = 18.2%
ENEMY Winrate Points my_2       vs frog_2     :  18 of 170 = 10.6%
ENEMY Winrate Points my_2       vs adbg1      :   4 of  80 = 5.0%
ENEMY Winrate Points my_2       vs adbg2      :   4 of  45 = 8.9%
ENEMY Winrate Points my_2       vs oneup1     :   0 of   5 = 0.0%
ENEMY Winrate Points my_2       vs gregor_2   :   0 of  10 = 0.0%

In [306]:
all_df = get_episodes_extended('my')

print("WEAK")

for my, my_name in [(my_a, 'my_a'), (my_0, 'my_0'), (my_1, 'my_1'), (my_2, 'my_2')]:
    for frog, frog_name in [(frog_1, 'frog_1'), (frog_2, 'frog_2'), (frog_old_1, 'frog_old_1'), (frog_old_2, 'frog_old_2'), 
                            (adbg_1, 'adbg1'), (adbg_2, 'adbg2'),
                              (oneup_1, 'oneup1'), (gregor_1, 'gregor_1'), (gregor_2, 'gregor_2')]:
        df = all_df[(all_df['is_strong'] == 0) & (all_df['main_submission_id'] == my) & (all_df['enemy_submission_id'] == frog)]
        my_win = df['main_reward'].sum()
        enemy_win = df['enemy_reward'].sum()
        sum_matches = my_win + enemy_win
        my_winrate = my_win / max(1, sum_matches) * 100
        enemy_winrate = enemy_win / max(1, sum_matches) * 100
        if sum_matches > 0:
            print(f'MY Winrate Points {my_name:10} vs {frog_name:11}: {my_win:3} of {sum_matches:3} = {my_winrate:.1f}%')

WEAK
MY Winrate Points my_a       vs frog_1     : 150 of 185 = 81.1%
MY Winrate Points my_a       vs frog_2     :  38 of  40 = 95.0%
MY Winrate Points my_a       vs adbg1      :  39 of  45 = 86.7%
MY Winrate Points my_a       vs adbg2      :  73 of  75 = 97.3%
MY Winrate Points my_0       vs frog_1     : 286 of 405 = 70.6%
MY Winrate Points my_0       vs frog_2     :  81 of 100 = 81.0%
MY Winrate Points my_0       vs adbg1      :  80 of  85 = 94.1%
MY Winrate Points my_0       vs adbg2      :  93 of 105 = 88.6%
MY Winrate Points my_1       vs frog_1     : 173 of 450 = 38.4%
MY Winrate Points my_1       vs frog_2     : 346 of 600 = 57.7%
MY Winrate Points my_1       vs adbg1      : 168 of 240 = 70.0%
MY Winrate Points my_1       vs adbg2      : 234 of 350 = 66.9%
MY Winrate Points my_1       vs oneup1     :   3 of   5 = 60.0%
MY Winrate Points my_1       vs gregor_1   :   9 of  10 = 90.0%
MY Winrate Points my_1       vs gregor_2   :  49 of  65 = 75.4%
MY Winrate Points my_2       vs frog_1     : 112 of 320 = 35.0%
MY Winrate Points my_2       vs frog_2     : 290 of 585 = 49.6%
MY Winrate Points my_2       vs adbg1      : 182 of 280 = 65.0%
MY Winrate Points my_2       vs adbg2      : 268 of 380 = 70.5%
MY Winrate Points my_2       vs gregor_1   :  19 of  20 = 95.0%
MY Winrate Points my_2       vs gregor_2   :  49 of  75 = 65.3%

In [296]:
df = get_episodes_extended('my')
df = df[(df['is_strong'] == 1) & (df['main_submission_id'] == my_0)]# & (df['enemy_submission_id'] == frog_1)]
df

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id,...,unit_energy_void_factor,unit_move_cost,unit_sap_cost,unit_sap_dropoff_factor,unit_sap_range,unit_sensor_range,is_strong,duration,overtime,steps
25732,71494427,42831274,Venkata Nageswararao Padavala,0,5,1,43317109,Flat Neurons,1,0,...,0.0625,1,50,0.25,5,2,1.0,938.325917,3.286570,505.0
25737,71494555,43306930,zpanj,0,5,1,43317109,Flat Neurons,1,0,...,0.3750,2,41,0.50,6,4,1.0,1186.914878,28.426647,505.0
25754,71494938,42559323,Jack Etheredge,0,5,1,43317109,Flat Neurons,0,1,...,0.3750,3,30,1.00,3,4,1.0,670.028715,0.728778,505.0
25767,71495196,43304674,Yannan Chen,0,5,1,43317109,Flat Neurons,0,1,...,0.0625,3,35,0.25,5,2,1.0,918.232021,2.484073,505.0
25772,71495327,42684632,Try Anyway,0,5,1,43317109,Flat Neurons,0,1,...,0.2500,5,43,1.00,3,2,1.0,670.564394,0.541748,505.0
25785,71495591,43316587,tr,0,5,1,43317109,Flat Neurons,1,0,...,0.0625,5,36,0.50,6,4,1.0,984.686301,2.689844,505.0
25801,71495849,43227695,Vadasz,0,5,1,43317109,Flat Neurons,1,0,...,0.2500,1,42,1.00,7,3,1.0,897.167830,2.368806,505.0
25808,71496044,43265883,YumeNeko,0,5,1,43317109,Flat Neurons,0,1,...,0.2500,3,48,0.50,6,3,1.0,920.018153,2.188186,505.0
25811,71496109,43265883,YumeNeko,0,5,1,43317109,Flat Neurons,0,1,...,0.2500,4,34,1.00,6,2,1.0,793.029195,1.546177,505.0
25826,71496443,43225874,aDg4b,0,5,1,43317109,Flat Neurons,0,1,...,0.2500,1,38,0.25,3,1,1.0,940.736435,2.674366,505.0
25861,71497102,43248725,aDg4b,0,5,1,43317109,Flat Neurons,1,0,...,0.2500,1,34,0.25,4,1,1.0,801.128747,1.679326,505.0
25863,71497153,43276830,Frog Parade,0,5,1,43317109,Flat Neurons,1,0,...,0.3750,5,49,1.00,7,2,1.0,1195.940765,4.387374,505.0
25887,71497734,43289716,OneUpKiwi,0,5,1,43317109,Flat Neurons,1,0,...,0.1250,1,41,0.25,6,4,1.0,837.867643,2.339863,505.0

In [249]:
df = get_episodes_extended('my')
df = df[(df['is_strong'] == 1) & ((df['main_submission_id'] == 43231083) | (df['main_submission_id']==43231083)) & ((df['enemy_submission_id'] == 43277936) | (df['enemy_submission_id'] == 43276830))]#[6:]
df

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id,...,unit_energy_void_factor,unit_move_cost,unit_sap_cost,unit_sap_dropoff_factor,unit_sap_range,unit_sensor_range,is_strong,duration,overtime,steps
23963,71327208,43277936,Frog Parade,1,4,1,43231083,Flat Neurons,0,1,...,0.3750,3,35,0.25,3,1,1.0,1027.769380,3.208272,505.0
23997,71331401,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,1,0,...,0.0625,1,44,1.00,3,1,1.0,1179.281181,8.454882,505.0
24107,71346695,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,1,0,...,0.3750,4,31,1.00,3,3,1.0,1268.709322,11.887832,505.0
24166,71355050,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,0,1,...,0.2500,5,43,1.00,3,3,1.0,1027.087316,3.570055,505.0
24173,71355978,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,1,0,...,0.2500,2,43,0.25,6,3,1.0,831.101419,2.535869,505.0
24233,71364806,43277936,Frog Parade,1,4,1,43231083,Flat Neurons,0,1,...,0.3750,1,32,0.25,7,3,1.0,1234.297535,15.153043,505.0
24300,71374992,43276830,Frog Parade,2,3,1,43231083,Flat Neurons,1,0,...,0.0625,5,40,0.50,4,4,1.0,956.477680,3.251000,505.0
24330,71378243,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,1,0,...,0.3750,2,42,0.25,6,4,1.0,932.578247,3.386729,505.0
24359,71382417,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,0,1,...,0.3750,3,35,1.00,5,3,1.0,1007.895668,5.611143,505.0
24366,71383352,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,1,0,...,0.2500,3,37,0.50,4,2,1.0,1003.714852,2.800916,505.0
24411,71390765,43277936,Frog Parade,0,5,1,43231083,Flat Neurons,1,0,...,0.1250,1,42,0.50,3,2,1.0,926.308541,2.699784,505.0
24454,71397268,43277936,Frog Parade,1,4,1,43231083,Flat Neurons,1,0,...,0.2500,4,41,0.25,3,4,1.0,1109.858260,6.857089,505.0
24504,71405163,43277936,Frog Parade,1,4,1,43231083,Flat Neurons,1,0,...,0.2500,3,47,0.25,5,4,1.0,896.325999,3.071362,505.0
24549,71416773,43276830,Frog Parade,2,3,1,43231083,Flat Neurons,0,1,...,0.3750,1,41,1.00,6,2,1.0,817.566137,2.346097,505.0

In [72]:
df = get_episodes_extended('my')
df = df[(df['is_strong'] == 1) & ((df['main_submission_id'] == 43293811) | (df['main_submission_id']==43294433))] #& ((df['enemy_name'] == 'aDg4b'))][13:] 
df

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id,...,unit_energy_void_factor,unit_move_cost,unit_sap_cost,unit_sap_dropoff_factor,unit_sap_range,unit_sensor_range,is_strong,duration,overtime,steps
24559,71419566,43293811,Flat Neurons,0,5,1,43293811,Flat Neurons,0,1,...,0.1250,4,46,0.50,4,1,1.0,1344.668175,25.219762,505.0
24580,71425563,43065159,Sinan & Tanuki,0,5,1,43293811,Flat Neurons,0,1,...,0.3750,3,42,0.50,6,2,1.0,810.356565,2.098960,505.0
24593,71428816,43278678,Les brigands de l'espace,0,5,1,43293811,Flat Neurons,0,1,...,0.0625,2,39,0.25,3,1,1.0,916.805072,2.691162,505.0
24597,71429745,43287538,tr,0,5,1,43293811,Flat Neurons,1,0,...,0.0625,3,37,0.50,4,3,1.0,1025.089155,3.094789,505.0
24602,71430680,43049054,RYUSHI,0,5,1,43294433,Flat Neurons,0,1,...,0.0625,2,40,0.50,4,2,1.0,772.393938,1.522549,505.0
24604,71431144,43294024,Salmon hiding,0,5,1,43294433,Flat Neurons,0,1,...,0.0625,3,34,1.00,6,3,1.0,908.298461,2.809573,505.0
24606,71431608,42950831,Nikolas Mottram,0,5,1,43294433,Flat Neurons,0,1,...,0.0625,3,46,0.25,4,2,1.0,907.023949,2.139449,505.0
24607,71432069,43278073,Oleh Kuznetsov,0,5,1,43293811,Flat Neurons,0,1,...,0.1250,3,38,0.50,4,2,1.0,874.703308,3.209803,505.0
24608,71432070,43293341,Rotom âŒ ð‘¿â€Žâ‚áŸ° Ì® à ¦áŸ°â‚Žâš¡ï¸Ž Í›âš¡ï¸Ž,0,5,1,43294433,Flat Neurons,0,1,...,0.3750,4,46,0.50,5,3,1.0,983.332666,3.684432,505.0
24620,71434391,43265883,YumeNeko,0,5,1,43293811,Flat Neurons,1,0,...,0.0625,2,39,1.00,7,2,1.0,1004.028141,3.901714,505.0
24625,71434854,43183615,OneUpKiwi,0,5,1,43293811,Flat Neurons,0,1,...,0.2500,1,38,0.50,5,2,1.0,865.802071,3.729781,505.0
24626,71434858,42570117,ry_andy_,0,5,1,43294433,Flat Neurons,0,1,...,0.2500,1,41,0.50,4,3,1.0,1022.350484,3.398905,505.0
24628,71435320,43265883,YumeNeko,0,5,1,43293811,Flat Neurons,1,0,...,0.2500,3,40,1.00,6,4,1.0,834.021255,2.692526,505.0
24636,71436711,43248725,aDg4b,0,5,1,43293811,Flat Neurons,0,1,...,0.3750,2,46,0.25,5,2,1.0,913.253699,4.110722,505.0
24651,71439501,43183615,OneUpKiwi,0,5,1,43294433,Flat Neurons,1,0,...,0.2500,3,48,0.50,3,2,1.0,930.081377,3.051794,505.0
24653,71439962,43281112,Gregor Lied,0,5,1,43294433,Flat Neurons,0,1,...,0.1250,2,49,0.25,7,3,1.0,1081.840025,5.933616,505.0
24655,71439999,43183615,OneUpKiwi,0,5,1,43294433,Flat Neurons,1,0,...,0.0625,2,47,0.50,6,4,1.0,975.825352,4.136339,505.0
24659,71440464,43225874,aDg4b,1,4,1,43293811,Flat Neurons,0,1,...,0.1250,5,37,1.00,3,3,1.0,933.678729,3.250705,505.0
24661,71440894,43265883,YumeNeko,0,5,1,43293811,Flat Neurons,0,1,...,0.1250,2,40,0.25,6,4,1.0,853.542428,2.311981,505.0
24674,71442744,43287305,EcoBangBang,0,5,1,43294433,Flat Neurons,1,0,...,0.2500,5,41,0.50,3,1,1.0,1221.154333,11.312247,505.0
24675,71442747,43289716,OneUpKiwi,0,5,1,43293811,Flat Neurons,1,0,...,0.2500,2,49,0.25,5,1,1.0,844.804160,3.159709,505.0
24677,71443208,43289716,OneUpKiwi,1,4,1,43294433,Flat Neurons,0,1,...,0.2500,3,45,1.00,7,1,1.0,943.335332,3.201966,505.0
24685,71444137,43287305,EcoBangBang,0,5,1,43293811,Flat Neurons,1,0,...,0.2500,3,42,1.00,5,4,1.0,1164.339594,6.717226,505.0
24688,71444599,43277936,Frog Parade,0,5,1,43293811,Flat Neurons,1,0,...,0.2500,3,42,0.50,5,3,1.0,687.478034,1.559926,505.0
24689,71444617,43276830,Frog Parade,0,5,1,43293811,Flat Neurons,0,1,...,0.3750,4,39,1.00,7,2,1.0,1192.981682,11.089562,505.0
24690,71444619,43225874,aDg4b,0,5,1,43294433,Flat Neurons,0,1,...,0.3750,5,40,0.25,4,3,1.0,821.041929,1.766518,505.0
24693,71445060,43289716,OneUpKiwi,0,5,1,43294433,Flat Neurons,1,0,...,0.2500,2,48,0.25,3,4,1.0,935.450990,2.832542,505.0
24694,71445063,43277936,Frog Parade,1,4,1,43293811,Flat Neurons,0,1,...,0.1250,3,37,1.00,4,1,1.0,1268.913844,14.759921,505.0
24696,71445079,43277936,Frog Parade,0,5,1,43293811,Flat Neurons,1,0,...,0.2500,3,40,0.50,5,3,1.0,1022.262118,3.505745,505.0
24699,71445528,43289716,OneUpKiwi,0,5,1,43293811,Flat Neurons,1,0,...,0.3750,4,35,0.25,3,3,1.0,941.125623,3.176572,505.0
24701,71445989,43225874,aDg4b,0,5,1,43294433,Flat Neurons,1,0,...,0.2500,2,31,0.50,7,3,1.0,874.186187,1.798735,505.0
24703,71446000,43276830,Frog Parade,0,5,1,43293811,Flat Neurons,1,0,...,0.0625,5,34,0.25,7,1,1.0,931.470584,1.826931,505.0
24705,71446453,43287305,EcoBangBang,0,5,1,43294433,Flat Neurons,1,0,...,0.0625,1,33,0.25,6,4,1.0,834.498122,2.666857,505.0
24706,71446467,43248725,aDg4b,0,5,1,43294433,Flat Neurons,0,1,...,0.0625,3,38,0.50,6,1,1.0,940.090847,2.311333,505.0
24707,71446468,43225874,aDg4b,0,5,1,43294433,Flat Neurons,1,0,...,0.3750,2,49,0.50,7,4,1.0,807.518181,1.681741,505.0
24708,71446915,43289716,OneUpKiwi,0,5,1,43294433,Flat Neurons,1,0,...,0.0625,2,43,0.25,4,2,1.0,927.730056,2.980043,505.0
24713,71447391,43225874,aDg4b,1,4,1,43294433,Flat Neurons,1,0,...,0.0625,5,41,1.00,5,3,1.0,915.453032,1.941717,505.0
24714,71447844,43277936,Frog Parade,1,4,1,43294433,Flat Neurons,1,0,...,0.1250,3,35,0.25,4,1,1.0,940.662416,3.566079,505.0
24715,71447848,43265883,YumeNeko,0,5,1,43293811,Flat Neurons,1,0,...,0.1250,2,39,0.25,4,1,1.0,890.198055,1.486289,505.0
24735,71450631,43248725,aDg4b,1,4,1,43294433,Flat Neurons,0,1,...,0.2500,3,47,0.50,6,1,1.0,867.131968,2.323981,505.0

In [26]:
df = get_episodes_extended('my')
df = df[(df['is_strong'] == 1) & ((df['main_submission_id'] == 43231083) | (df['main_submission_id']==43231083)) & ((df['enemy_name'] == 'aDg4b'))][15:]
df

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id,...,unit_energy_void_factor,unit_move_cost,unit_sap_cost,unit_sap_dropoff_factor,unit_sap_range,unit_sensor_range,is_strong,duration,overtime,steps
22045,71051837,43225874,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.3750,3,34,1.00,4,3,1.0,818.125114,1.732329,505.0
22047,71052300,43222740,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.2500,5,47,0.25,3,2,1.0,843.013078,2.413070,505.0
22068,71055535,43222740,aDg4b,1,4,1,43231083,Flat Neurons,0,1,...,0.2500,1,46,1.00,6,1,1.0,887.302102,2.477692,505.0
22081,71057835,43225874,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.0625,3,46,0.50,4,3,1.0,802.156236,1.976379,505.0
22120,71062894,43225874,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.0625,5,32,0.50,3,1,1.0,825.406203,2.662537,505.0
22125,71063355,43225874,aDg4b,1,4,1,43231083,Flat Neurons,1,0,...,0.1250,1,40,0.50,5,3,1.0,988.578957,5.698886,505.0
22129,71063820,43225874,aDg4b,1,4,1,43231083,Flat Neurons,0,1,...,0.0625,5,49,0.50,4,2,1.0,862.485925,1.897924,505.0
22139,71065209,43222740,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.3750,1,34,0.25,5,4,1.0,771.732782,2.583839,505.0
22148,71066134,43222740,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.3750,1,40,0.25,3,4,1.0,860.421463,2.383197,505.0
22153,71067048,43225874,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.2500,3,50,0.50,5,2,1.0,930.664415,2.576637,505.0
22163,71067978,43222740,aDg4b,0,5,1,43231083,Flat Neurons,0,1,...,0.1250,2,34,1.00,3,4,1.0,932.018453,2.838077,505.0
22207,71073983,43222740,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.3750,4,44,0.25,5,1,1.0,940.384164,2.878539,505.0
22222,71075829,43225874,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.1250,2,46,0.25,5,3,1.0,968.015523,3.382082,505.0
22264,71081856,43225874,aDg4b,0,5,1,43231083,Flat Neurons,0,1,...,0.1250,5,37,1.00,3,3,1.0,854.106058,3.036695,505.0
22269,71082776,43222740,aDg4b,1,4,1,43231083,Flat Neurons,0,1,...,0.1250,3,33,0.50,4,1,1.0,822.285299,2.271212,505.0
22275,71083702,43222740,aDg4b,0,5,1,43231083,Flat Neurons,1,0,...,0.1250,2,41,0.50,6,3,1.0,957.984597,3.141848,505.0
22308,71095260,43225874,aDg4b,0,5,1,43231083,Flat Neurons,0,1,...,0.0625,2,45,1.00,5,3,1.0,937.524290,2.458172,505.0

**our games with frog, grouped by game params**

In [216]:
player_name = 'my'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade')]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range', 'is_strong']
'''
group = ['enemy_submission_id', 'unit_sap_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by='winrate')
grouped

                                    sum  count    winrate
enemy_submission_id unit_sap_range
42704976            7                20    232   8.620690
                    5                25    218  11.467890
                    6                33    231  14.285714
                    4                30    206  14.563107
42705163            7                67    412  16.262136
43152191            7                10     61  16.393443
42705163            6                70    406  17.241379
42704976            3                48    262  18.320611
42705163            5                67    363  18.457300
                    4                91    420  21.666667
                    3               101    433  23.325635
43152191            6                11     46  23.913043
                    5                15     59  25.423729
43155694            6                24     89  26.966292
                    7                21     74  28.378378
43152191            3                16     46  34.782609
43155694            5                29     80  36.250000
                    4                36     79  45.569620
43152191            4                22     45  48.888889
43155694            3                54     95  56.842105

# **Example 2: download data for games of 2 models to one file**

In [168]:
# our model id and random person model id
submission_ids = [42596204, 42639753]
player_name = 'submission_one_file'

for submission_id in submission_ids:
    episodes = request_episodes_list(submission_id)
    update_teams(episodes, player_name)
    new_episodes = update_episodes_list(episodes, submission_id, player_name)

In [169]:
player_name = 'submission_one_file'
teams = get_teams(player_name)
filtered_df = teams[(teams['team_id'] == 13082338)]
filtered_df

  team_name  submission_id                 submission_date   team_id
4      Boey       42639753  2025-01-31T23:13:23.796666700Z  13082338

In [170]:
player_name = 'submission_one_file'
episodes_list = get_episodes_list(player_name)

filtered_df = episodes_list[(episodes_list['main_submission_id'] == 42639753)]
filtered_df[:3]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id
1,65713495,42613183,Frog Parade,4,1,0,42639753,Boey,1,0
3,65713501,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0
5,65713936,42613059,Frog Parade,4,1,0,42639753,Boey,1,0
7,65713938,42613183,Frog Parade,4,1,0,42639753,Boey,1,0
9,65713944,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0
...,...,...,...,...,...,...,...,...,...,...
1990,66081771,42613059,Frog Parade,3,2,0,42639753,Boey,1,0
1993,66082653,42613183,Frog Parade,3,2,0,42639753,Boey,1,0
1995,66083534,42596204,Flat Neurons,4,1,0,42639753,Boey,1,0
1997,66083980,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0
1999,66084417,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0

In [135]:
filtered_df = episodes_list[(episodes_list['main_submission_id'] == 42596204)]
filtered_df[:3]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id
0,65713495,42613183,Frog Parade,4,1,0,42596204,Flat Neurons,1,0
2,65713495,42613183,Frog Parade,4,1,0,42596204,Flat Neurons,1,0
3,65713501,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1
4,65713501,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1
6,65713936,42613059,Frog Parade,4,1,0,42596204,Flat Neurons,1,0
...,...,...,...,...,...,...,...,...,...,...
2993,66083534,42639753,Boey,1,4,1,42596204,Flat Neurons,0,1
2994,66083980,42589978,aDg4b,2,3,1,42596204,Flat Neurons,0,1
2995,66083980,42589978,aDg4b,2,3,1,42596204,Flat Neurons,0,1
2997,66084417,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1
2999,66084417,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1

# **Example 3: analyse frog games (played by last 2 models)**

In [41]:
# if you change src.py run this command for updating cached module
%run -i src.py

In [39]:
submission_ids = [42613183, 42613059]
player_name = 'frog'

for submission_id in submission_ids:
    episodes = request_episodes_list(submission_id)
    update_teams(episodes, player_name)
    new_episodes = update_episodes_list(episodes, submission_id, player_name)
    update_episodes_extended(new_episodes, player_name)

In [49]:
player_name = 'frog'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] != 'Frog Parade')]
grouped = df.groupby(['enemy_submission_id', 'enemy_name', 'main_submission_id'])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped[(grouped['count'] > 3)]
grouped = grouped.sort_values(by=['count','enemy_name', 'enemy_submission_id', 'winrate'], ascending=False)
grouped

                                                     sum  count     winrate
enemy_submission_id enemy_name   main_submission_id
42596204            Flat Neurons 42613183            333    502   66.334661
                                 42613059            245    325   75.384615
42590069            aDg4b        42613183            107    109   98.165138
42639753            Boey         42613059             93    101   92.079208
42590069            aDg4b        42613059             99     99  100.000000
42589978            aDg4b        42613183             86     91   94.505495
42639753            Boey         42613183             75     84   89.285714
42589978            aDg4b        42613059             70     74   94.594595
42502906            ry_andy_     42613059             59     63   93.650794
                                 42613183             51     53   96.226415
42634240            ry_andy_     42613183             41     44   93.181818
                                 42613059             40     41   97.560976
42572328            OneUpKiwi    42613183             37     39   94.871795
                                 42613059             28     28  100.000000
42624927            SiestaGuru   42613059             26     26  100.000000
42609745            SiestaGuru   42613183             24     24  100.000000
42624927            SiestaGuru   42613183             21     21  100.000000
42609745            SiestaGuru   42613059             20     21   95.238095
42570117            ry_andy_     42613059             16     17   94.117647
42623660            Vadasz       42613183             12     13   92.307692
42630701            SiestaGuru   42613183             12     12  100.000000
42623660            Vadasz       42613059             11     11  100.000000
42623658            Vadasz       42613059              9     11   81.818182
42643960            SiestaGuru   42613183             11     11  100.000000
42630701            SiestaGuru   42613059             10     11   90.909091
42652762            OneUpKiwi    42613059             11     11  100.000000
42570117            ry_andy_     42613183              9     10   90.000000
42643960            SiestaGuru   42613059             10     10  100.000000
42609748            SiestaGuru   42613059             10     10  100.000000
42596072            wala         42613059              8      8  100.000000
42623658            Vadasz       42613183              8      8  100.000000
42639096            SiestaGuru   42613183              8      8  100.000000
42652762            OneUpKiwi    42613183              8      8  100.000000
42609289            Vadasz       42613059              7      7  100.000000
42609748            SiestaGuru   42613183              7      7  100.000000
42596072            wala         42613183              5      6   83.333333
42654058            SiestaGuru   42613059              6      6  100.000000
                                 42613183              5      6   83.333333
42609288            Vadasz       42613059              5      5  100.000000
42654225            SiestaGuru   42613183              4      5   80.000000
42609289            Vadasz       42613183              4      4  100.000000
42654225            SiestaGuru   42613059              4      4  100.000000
42639096            SiestaGuru   42613059              4      4  100.000000

In [10]:
submission_id = 42683570
player_name = 'adbg'

episodes = request_episodes_list(submission_id)
update_teams(episodes, player_name)
new_episodes = update_episodes_list(episodes, submission_id, player_name)
update_episodes_extended(new_episodes, player_name)

/Users/eyurkovsk/Downloads/lux-ai3/toad_fork/analytics/src.py:167: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

In [14]:
player_name = 'adbg'
df = get_episodes_extended(player_name)
grouped = df.groupby(['enemy_submission_id', 'enemy_name'])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by=['enemy_name', 'winrate'])
grouped = grouped[(grouped['count'] > 3)]
grouped

                                     sum  count     winrate
enemy_submission_id enemy_name
42639753            Boey              40     48   83.333333
42639820            Boey              13     14   92.857143
42596204            Flat Neurons      38     75   50.666667
42613059            Frog Parade       12     50   24.000000
42613183            Frog Parade       20     48   41.666667
42680572            Gregor Lied        4      4  100.000000
42674181            Oleh Kuznetsov     4      4  100.000000
42690982            Oleh Kuznetsov     4      4  100.000000
42572328            OneUpKiwi         11     12   91.666667
42652762            OneUpKiwi         25     26   96.153846
42681005            SiestaGuru        10     12   83.333333
42681056            SiestaGuru        27     30   90.000000
42675361            Vadasz             7      7  100.000000
42691895            Vadasz             6      6  100.000000
42634240            ry_andy_          37     40   92.500000
42570117            ry_andy_          10     10  100.000000
42687518            tr                 6      8   75.000000
42684463            tr                 4      4  100.000000
42673616            wala               3      4   75.000000

In [ ]:
%run -i src.py
player_name = 'my'
episodes_list = get_episodes_list(player_name)
update_episodes_extended(episodes_list['episode_id'].to_list(), player_name)

In [37]:
player_name = 'adbg'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Flat Neurons')]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
'''
group = ['unit_sap_range', 'unit_sensor_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by=['unit_sap_range', 'unit_sensor_range'])
grouped

                                  sum  count     winrate
unit_sap_range unit_sensor_range
3              1                    2      3   66.666667
               2                    5      7   71.428571
               3                    3      4   75.000000
               4                    4      7   57.142857
4              2                    0      2    0.000000
               3                    1      2   50.000000
               4                    0      3    0.000000
5              1                    4      4  100.000000
               2                    2      4   50.000000
               3                    2      6   33.333333
               4                    2      6   33.333333
6              1                    3      5   60.000000
               2                    3      8   37.500000
               3                    1      1  100.000000
               4                    2      3   66.666667
7              1                    1      1  100.000000
               2                    1      2   50.000000
               3                    2      4   50.000000
               4                    0      3    0.000000

In [5]:
player_name = 'adbg'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade') | (episodes_extended['enemy_name'] == 'Flat Neurons')]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
'''
group = ['unit_sap_range', 'unit_sensor_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by=['winrate', 'unit_sap_range', 'unit_sensor_range'])
grouped

                                  sum  count    winrate
unit_sap_range unit_sensor_range
7              4                    0      9   0.000000
4              4                    2     10  20.000000
7              1                    1      5  20.000000
3              1                    2      8  25.000000
7              2                    3     10  30.000000
5              2                    4     12  33.333333
6              1                    4     11  36.363636
               2                    4     11  36.363636
4              2                    2      5  40.000000
5              4                    5     12  41.666667
3              3                    3      7  42.857143
7              3                    3      7  42.857143
5              3                    4      9  44.444444
3              2                    5     10  50.000000
4              1                    2      4  50.000000
6              4                    4      8  50.000000
4              3                    6     10  60.000000
5              1                    5      8  62.500000
3              4                    7     11  63.636364
6              3                    4      6  66.666667

In [35]:
player_name = 'adbg'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Flat Neurons') | (episodes_extended['enemy_submission_id'] == 42596204)]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
'''
group = ['unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
#grouped = grouped.sort_values(by=['unit_sap_range', 'unit_sensor_range'])
grouped = grouped.sort_values(by=['winrate','unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range'])
grouped

                                                          sum  count  \
unit_sap_dropoff_factor unit_sap_range unit_sensor_range
0.25                    4              2                    0      1
                                       4                    0      1
                        5              3                    0      2
                        7              4                    0      2
0.50                    4              2                    0      1
                                       4                    0      2
                        6              1                    0      1
                                       2                    0      3
                                       4                    0      1
                        7              3                    0      2
                                       4                    0      1
1.00                    4              3                    0      1
                        5              4                    0      1
0.25                    5              2                    1      3
                                       4                    1      3
0.50                    3              4                    1      3
0.25                    3              1                    1      2
                                       3                    1      2
0.50                    3              2                    1      2
                        5              3                    1      2
                                       4                    1      2
                        7              2                    1      2
1.00                    5              3                    1      2
                        6              2                    3      5
                        3              2                    2      3
                        6              1                    2      3
                        3              4                    3      4
0.25                    3              2                    2      2
                        6              1                    1      1
                                       4                    2      2
0.50                    3              1                    1      1
                                       3                    1      1
                        4              3                    1      1
                        5              2                    1      1
                        7              1                    1      1
1.00                    3              3                    1      1
                        5              1                    4      4
                        6              3                    1      1
                        7              3                    2      2

                                                             winrate
unit_sap_dropoff_factor unit_sap_range unit_sensor_range
0.25                    4              2                    0.000000
                                       4                    0.000000
                        5              3                    0.000000
                        7              4                    0.000000
0.50                    4              2                    0.000000
                                       4                    0.000000
                        6              1                    0.000000
                                       2                    0.000000
                                       4                    0.000000
                        7              3                    0.000000
                                       4                    0.000000
1.00                    4              3                    0.000000
                        5              4                    0.000000
0.25                    5              2                   33.333333
                                       4                   33.333333
0.50                    3              4                   33.333333
0.25                    3              1                   50.000000
                                       3                   50.000000
0.50                    3              2                   50.000000
                        5              3                   50.000000
                                       4                   50.000000
                        7              2                   50.000000
1.00                    5              3                   50.000000
                        6              2                   60.000000
                        3              2                   66.666667
                        6              1                   66.666667
                        3              4                   75.000000
0.25                    3              2                  100.000000
                        6              1                  100.000000
                                       4                  100.000000
0.50                    3              1                  100.000000
                                       3                  100.000000
                        4              3                  100.000000
                        5              2                  100.000000
                        7              1                  100.000000
1.00                    3              3                  100.000000
                        5              1                  100.000000
                        6              3                  100.000000
                        7              3                  100.000000